################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/IGrill.Core/*.nupkg
/IGrill.Core/bin
/IGrill.Core/obj
/IGrill.App/bin
/IGrill.App/obj
