################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/IGrillLibrary/bin
/IGrillLibrary/obj
/IGrill.Playground/bin
/IGrill.Playground/obj
