################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/IGrill.Library/bin
/IGrill.Library/obj
/IGrill.App/bin
/IGrill.App/obj
